@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

$html-font-size: 16px;

$base-dark: #222435;
$base-light: #FFFFFF;
$light-1: #E7E8F5;
$light-2: #FAFAFD;
$gray-1: #383A4C;
$gray-2: #535568;
$gray-3: #67697A;
$gray-4: #7A7C8D;
$gray-5: #9799AD;
$blue-dark: #1E446E;
$blue-light: #4EA2FF;

*,
*::before,
*::after {
  font-weight: normal;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: $html-font-size;
  line-height: 1.2;
  min-height: 100vh;
  color: $base-light;
  background: $base-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

hr {
  height: 1px;
  border: none;
  background-color: $gray-1;
}

button {
  line-height: inherit;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.todo-main {
  max-width: rem(900);
  margin: 0 auto;
  padding: rem(40);

  &__title {
    margin-bottom: rem(30);
    text-align: center;

    h1 {
      font-size: rem(30);
      font-weight: 700;
      line-height: rem(36);
      color: $gray-2;
    }
  }
}

.add-task {
  &__inner {
    display: flex;
    align-items: center;
    padding: rem(20);
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    border: 1px solid $gray-2;
    border-radius: 10px;
  }

  &__input {
    flex: 1 0 0;
    height: rem(20);

    input {
      font-weight: 400;
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0;
      color: $light-2;
      border: none;
      background-color: transparent;

      &::placeholder {
        transition: color 0.25s ease-in-out;
        color: $gray-4;
      }


    }

    &:hover {
      input {
        &::placeholder {
          color: $light-2;
        }
      }
    }

    &:focus {
      background-color: $gray-1;
    }
  }

  &__add-btn {
    flex: 0 1 rem(20);
    width: rem(20);
    height: rem(20);
    margin-right: rem(20);

    svg {
      width: rem(20);
      height: rem(20);
      fill: $gray-4;
    }
  }

  &.focused &__inner {
    border-color: $gray-2;
    background-color: $gray-1;
  }

  &.focused &__input:hover {
    input {
      &::placeholder {
        color: $gray-4;
      }
    }
  }
}

.tasks-list {
  margin: rem(20) 0;

  &__completed-sign {
    display: inline-flex;
    align-items: center;
    margin-bottom: rem(20);
    padding: 6px 8px;
    border-radius: 4px;
    background-color: $blue-dark;

    svg {
      width: rem(16);
      height: rem(16);
      margin-right: 8px;
      fill: $blue-light;
    }

    span {
      font-size: rem(14);
      font-weight: 500;
      color: $blue-light;
    }
  }
}

.task {
  &__inner {
    display: flex;
    align-items: center;
    padding: rem(20);
    border-radius: 10px;
    background-color: $gray-1;
  }

  & + & {
    margin-top: 10px;
  }

  &__check {
    position: relative;
    flex: 0 0 rem(20);
    width: rem(20);
    height: rem(20);
    margin-right: rem(20);
    transition: border-color 0.25s ease-in-out;
    border: 2px solid $gray-3;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &__check-filler {
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(20);
    height: rem(20);
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    border-radius: 50%;
    background-color: $blue-light;

    svg {
      width: 8px;
      height: 8px;
      fill: $base-dark;
    }
  }


  &__text {
    font-weight: 500;
    line-height: rem(19);
    transition: color 0.25s ease-in-out, text-decoration 0.25s ease-in-out;
  }

  &__delete {
    margin-left: auto;

    button {
      width: rem(20);
      height: rem(20);
      padding: 2px;

      svg {
        width: rem(16);
        height: rem(16);
        transition: fill 0.25s ease-in-out;
        fill: $gray-5;
      }

      &:hover {
        svg {
          fill: $light-1;
        }
      }
    }
  }

  &--completed &__check {
    border-color: transparent;
  }

  &--completed &__check-filler {
    opacity: 1;
  }

  &--completed &__text {
    text-decoration: line-through;
    color: $gray-5;
  }
}


.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($base-dark, 0.8);
  }

  &__ripple {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center center;
      animation: lds-ripple 2s linear infinite;
      opacity: 1;
      border: 4px solid $base-light;
      border-radius: 50%;
    }

    div:nth-child(2) {
      animation-delay: -1s;
    }

    @keyframes lds-ripple {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
        opacity: 0;
      }
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
